$primary: #3d405b;
$secondary: #83c5be;
$danger: #e29578;
$success: #006d77;
$warning: #ffddd2;

@import '~bootstrap/scss/bootstrap';

body {
  background-image: linear-gradient(#22c1c3, #fdbb2d);
  height: 750px;
}

button {
  margin-right: 15px;
}

// .listModal {
//   display: flex;
//   flex-direction: row;
// }
