$primary: #3d405b;
$secondary: #83c5be;
$danger: #e29578;
$success: #006d77;
$warning: #ffddd2;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: #edf6f9;
}

button {
  margin-left: 15px;
}
